{% extends "base.html" %}
{% block title %}Activation Link Sent{% endblock %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="alert alert-info">
        <h4 class="alert-heading">Activation Link Sent</h4>
        <p>
            We've sent an activation link to your email address. Please check your inbox and click the link to activate your account.
        </p>
        <hr>
        <p class="mb-0">If you don't see the email, please check your spam folder.</p>
    </div>
</div>
{% endblock %}
