{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Tenant Profile {% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 900px; padding: 20px; border-radius: 10px;">
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
</div>
{% endblock %}
