{% load crispy_forms_tags %}
{% load i18n %}

<div class="container mt-5" >
    <h1 class="mb-4 text-center bg-primary text-white p-3">
        <i class="bi bi-file-earmark-text me-2"></i>
        {% trans "Create Lease Agreement" %}
    </h1>
    <p class="text-center mb-4">
        {% trans "Please fill in the details below to create a lease agreement." %} for: <strong>{{ tenant }}</strong> 
    </p> 
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div class="row justify-content-center">
        <div class="col">
            <form 
                method="post"
                action="{% url 'create_lease_agreement' tenant_profile_id=tenant.id %}"
                {% if request.htmx %}  <!-- Add HTMX attributes if using HTMX -->
                    hx-post="{% url 'create_lease_agreement' tenant_profile_id=tenant.id %}"
                    hx-target="#lease-form-container"
                    hx-swap="outerHTML"
                {% endif %}
                id="lease-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-3">
                    <i class="bi bi-plus-circle me-2"></i>
                    {% trans "Create Lease Agreement" %}
                </button>
            </form>
        </div>
    </div>
</div>